html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-image: url(https://thumbs.gfycat.com/BasicComfortableIlsamochadegu-size_restricted.gif);
}

.baboon {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    height: 82.5vh
}

.baboon-border {
    background: white;
    border-radius: 5px;
    padding: 5rem;
    display: block;
}