@model DISessionLegacy.Models.BaboonMe
@{
    ViewBag.Title = "Home Page";
}
<div class="baboon">
    <div class="baboon-border">
        <h1 class="text-center">ASP.NET</h1>
        <h2 class="text-center">@Model.Babooned</h2>
        <div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="baboon-form">
                    @Html.TextBoxFor(m => m.Baboon)
                    <input type="submit" value="Baboon me" class="baboon-button"/>
                </div>
            }
        </div>
        <a href="/baboon" class="btn btn-primary mt-5">Goto ASP.NET Core Baboon</a>
    </div>
</div>